<br>
<div class="card">
  <div class="card-body">
    <br>
    <h4 class="card-title">Registro proveedores</h4>
    <div class="form-row">
      <button type="button" class="btn btn-primary btn-sm" (click)="nuevo(crear)">Crear proveedor</button>
    </div>
    <br>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; index as i">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ item.nom_proveedor }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.telefono }}</td>
          <td><button class="btn btn-success btn-sm" title="Editar" (click)="editar(content, item)">Editar
              <i class="fa fa-edit" aria-hidden="true"></i></button> &nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #crear let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear proveedor</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="item.nom_proveedor">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Dirección</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="item.direccion">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Teléfono</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Número" [(ngModel)]="item.telefono">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Aceptar')">Aceptar</button>
    <button type="button" class="btn btn-outline-warning btn-sm" (click)="modal.dismiss('Cerrar')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar proveedor</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Juan" [(ngModel)]="item.nom_proveedor">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Dirección</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="2av zona 1" [(ngModel)]="item.direccion">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Teléfono</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="34567897" [(ngModel)]="item.telefono">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Aceptar')">Aceptar</button>
    <button type="button" class="btn btn-outline-warning btn-sm" (click)="modal.dismiss('Cerrar')">Cerrar</button>
  </div>
</ng-template>
