<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light" *ngIf="currentUser">
  <div class="container">
    <a class="navbar-brand" href="/">Amabisca S.A</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Productos</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <li><button class="btn btn-dark nav-link" [routerLink]="['/productos']" routerLinkActive="/productos" >Productos</button></li>
              <li><button class="btn btn-dark nav-link" [routerLink]="['/cat-producto']" routerLinkActive="/productos" >Categoria</button></li>
              <li><button class="btn btn-dark nav-link" [routerLink]="['/umedida']" routerLinkActive="/productos" >Unidad de medida</button></li>
            </div>
        </div>
        <li class="nav-item">
          <button class="btn btn-dark nav-link" [routerLink]="['/proveedores']" routerLinkActive="/proveedores" >proveedores</button>
        </li>
        <!--Administracion de empleados-->
        <li class="nav-item">
          <button class="btn btn-dark nav-link" [routerLink]="['/empleado']" routerLinkActive="/empleado" >Empleados</button>
        </li>
        <!--Administracion de roles-->
        <li class="nav-item">
            <button class="btn btn-dark nav-link" [routerLink]="['/roles']" routerLinkActive="/roles" >Roles</button>
        </li>
        <!--Administracion de ventas-->
        <li class="nav-item">
          <button class="btn btn-dark nav-link" [routerLink]="['/nueva-venta']" routerLinkActive="/roles" >Nueva venta</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container col">
  <router-outlet></router-outlet>
</div>

