<div class="container col-md-8 offset-md-2 mt-2 mb-4">
    
    <div class="card">
        <div class="card-header">
            <h3 class="card-title" style="color: black;">Facturas</h3>
        </div>
        
        <div class="card-body">
            <table class="table table-sm table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Total</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody *ngIf="hayFacturas">
                    <tr *ngFor="let item of arrFacturas; index as i">
                        <td style="color: black;">{{i+1}}</td>
                        <td style="color: black;">{{item.fecha | date:'dd/MM/yyyy'}}</td>
                        <td style="color: black;">{{item.total}}</td>
                        <td>
                                <button class="btn btn-sm btn-success" style="margin-right: 5px;" (click)="verDetalles(modalDetalles, item)">Detalles</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p *ngIf="!hayFacturas">
                <ngb-alert [dismissible]="false" class="text-center">
                    <h6>No hay registros</h6>
                </ngb-alert>
            </p>
        </div>
    </div>        
</div>  

<ng-template #modalDetalles let-modal>
        <div class="card-header">
                <h3 class="h3 col text-center"><b>Factura #{{factura.id_factura}}</b></h3>
                <h6 class="h6 col text-left"><b>Nombre de la empresa</b></h6>
                <h6 class="h6 col text-left"><b>Dirección</b></h6>
                <h6 class="h6 col text-left"><b>Teléfono</b></h6>
                <h6 class="h6 col text-left"><b>E-mail</b></h6>
        </div>
        <div class="card-header">
                <div class="form-row" placement = "center">
                 <!--   <div class = "col-4 ">
                        <h6 class="h6 text-left"><b>NIT</b></h6>
                        <h6 class = "h6 text-left">{{factura.persona.nit}</h6>
                    </div>-->
    
                 <!--    <div class = "col-4">
                            <h6 class="h6 text-left"><b>Cliente</b></h6>
                            <h6 class = "h6 text-left">{{factura.persona.nom_persona}}</h6>
                    </div>-->
    
                    <div class = "col-4">
                                <h6 class="h6 text-left"><b>Fecha</b></h6>
                                <h6 class = "h6 text-left">{{factura.fecha | date:'dd/MM/yyyy'}}</h6>
                    </div> 
                </div>       
        </div>

        <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio unitario</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of detallesFactura; index as i">
                            <td class="align-middle">{{ i+1 }}</td>
                            <td class="align-middle">{{ item.cantidad }}</td>
                            <td class="align-middle">{{ item.nom_producto }}</td>
                            <td class="align-middle">{{ item.precio_producto}}</td>
                            <td class="align-middle">{{ item.subtotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class = "card-header">              
                    <h3 class="h3 col text-right"><b>Total: {{factura.total}}</b></h3>
                </div>
</ng-template>