<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Sistema de Administracion Amabisca S.A</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptate non repellat molestias natus sint mollitia pariatur dolor commodi facere. Voluptas asperiores modi ipsa expedita aperiam unde possimus fuga aspernatur.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, mollitia excepturi, iusto corporis nisi suscipit, maiores corrupti voluptatum magni nemo consequuntur cumque tempore et possimus repudiandae vero natus dolores. Recusandae?</p>
  
  </div>
</div>
