<div class="card col-md-8 offset-md-2">
  <div class="card-body">
    <br>
    <div class="form-row">
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Describe tu tarea" [(ngModel)]="nuevo.descripcion">
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="Guardar()">Agregar</button>
      </div>
    </div>
  </div>
</div>

<br>
<div class="card col-md-8 offset-md-2">
  <div class="card-body">
    <table class="table  table-hover table-sm">
      <tr *ngFor="let item of items">
        <td>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </div>
        </td>
        <td class="align-middle"><p style="color: black">{{ item.descripcion }}</p></td>
        <td class="text-right"><button class="btn btn-danger btn-sm" (click)="eliminar(item)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
