<div class="container col-md-8 offset-md-2 mt-2">
  <div class="card">
    <div class="card-header">
      <h3 class="h3 col text-center"><b>Crear Empleado</b></h3>
    </div>
    <div class="card-body">
      <div class="form-group col-md-8 offset-md-2">
        <label for=""><b>No. DPI *</b></label>
        <input type="text" class="form-control" [(ngModel)]="emp.dpi" maxlength="13">
      </div>
      <div class="form-group col-md-8 offset-md-2">
        <label for=""><b>Nombre del Empleado *</b></label>
        <input type="text" class="form-control" [(ngModel)]="emp.nom_persona">
      </div>
      <div class="form-group col-md-8 offset-md-2">
        <label for=""><b>Dirección *</b></label>
        <input type="text" class="form-control" [(ngModel)]="emp.direccion">
      </div>
      <div class="form-group col-md-8 offset-md-2">
        <label> <b>Seleccionar Puesto*</b> </label>
        <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="model" [inputFormatter]="formatter3"
          [ngbTypeahead]="search3" [resultFormatter]="formatter3" (focus)="focus$.next($event.target.value)"
          (click)="click$.next($event.target.value)" #instance="ngbTypeahead" />
        
      </div>
      <div class="form-group col text-center">
        <button class="btn btn-success ml-2" (click)="guardar()">Guardar</button>
        <button class="btn btn-danger ml-2" [routerLink]="['/empleado']">Cancelar</button>
      </div>

    </div>
  </div>
</div>
