<div class="container col-md-8 offset-md-2 mt-2 mb-4">
    
    <div class="card">
        <div class="card-header">
            <h3 class="card-title" style="color: black;">Cuadro de mando</h3>
        </div>        
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                  <td>
                    Total en ventas en la última semana
                  </td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>
                    Nuevos clientes en la última semana
                  </td>
                  <td>10</td>
                </tr>
                <tr>
                    <td>
                        Alerta de reabastecimiento
                    </td>
                    <td>
                        lista
                    </td>
                </tr>
                <tr>
                    <td>
                      Productos más vendidos del 2019
                    </td>
                    <td>
                        lista
                    </td>
                </tr>
                </tbody>
              </table>
        </div>
    </div>
        
</div>  








