<br>
<div class="container ">
  <div class="card">
    <div class="card-header">
      <h3 class="h3 col text-center"><b>Crear producto</b></h3>
    </div>
    <div class="card-body">
        <button class="btn btn-success btn-sm" [routerLink]="['/productos']">Regresar</button>&nbsp;&nbsp;
        <button class="btn btn-info btn-sm"  (click)="nuevo(crear)" >Agregar dimensión</button>
        <br>
        <br>
      <div class="form-row">
        <div class="col-4">
            <label>Código</label>
            <input type="text" class="form-control" placeholder="Código" [(ngModel)]="item.cod_producto">
        </div>
        <div class="col-4">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="item.nom_producto">
        </div>
        <div class="col-4">
            <label>Descripción</label>
            <input type="text" class="form-control" placeholder="Descripción" [(ngModel)]="item.descripcion">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-4">
            <label>Costo compra</label>
            <input type="number" class="form-control" placeholder="Costo compra" [(ngModel)]="item.costo_compra">
        </div>
        <div class="col-4">
            <label>Precio unitario</label>
            <input type="number" class="form-control" placeholder="Precio unitario" [(ngModel)]="item.precio_unitario">
        </div>
        <div class="col-4">
            <label>Cantidad existente</label>
            <input type="number" class="form-control" placeholder="Cantidad existente" [(ngModel)]="item.cantidad_existente">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-4">
            <label>Categoría</label>
            <input type="text" class="form-control" placeholder="Categoría" [(ngModel)]="cate" [ngbTypeahead]="searchCat" 
            [resultFormatter]="rFormatterCat" [inputFormatter]="iFormatterCat" (focus)="focusCat$.next($event.target.value)" 
            (click)="clickCat$.next($event.target.value)" #instanceAre="ngbTypeahead">
        </div> 
      </div>
      <br>
      <div class="card-footer text-muted">
        <button class="btn btn-success btn-sm" (click)="guardar()">Guardar</button>&nbsp;&nbsp;
        <button class="btn btn-danger btn-sm" [routerLink]="['/productos']">Cancelar</button>
      </div>
      
    </div>
  </div>
</div>

<ng-template #crear let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar dimensión</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="staticEmail" placeholder="Nombre" [(ngModel)]="item.nombre">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Valor decimal</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputPassword" placeholder="Valor decimal" [(ngModel)]="item.descripcion">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Unidad</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPassword" placeholder="Unidad de medida" [(ngModel)]="item.descripcion">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Aceptar')">Aceptar</button>
    <button type="button" class="btn btn-outline-warning btn-sm" (click)="modal.dismiss('Cerrar')">Cerrar</button>
  </div>
</ng-template>
