<br>
<div class="card">
  <div class="card-body">
    <br>
    <h4 class="card-title">Registro de unidades de medida</h4>
    <div class="form-row">
      <button type="button" class="btn btn-primary btn-sm" (click)="nuevo(crear)">Crear unidad de medida</button>
    </div>
    <br>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre</th>
          <th scope="col">Abreviatura</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!--<tr *ngFor="let item of items; index as i">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ item.nom_proveedor }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.telefono }}</td>-->
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td><button class="btn btn-success btn-sm" title="Editar" (click)="editar(content)" >Editar 
            <i class="fa fa-edit" aria-hidden="true"></i></button> &nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #crear let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear proveedor</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="staticEmail" placeholder="Metros">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Abreviatura</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPassword" placeholder="m">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Aceptar')">Aceptar</button>
    <button type="button" class="btn btn-outline-warning btn-sm" (click)="modal.dismiss('Cerrar')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Editar unidad de medida</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticEmail" placeholder="Metros" >
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Abreviatura</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword" placeholder="m">
                  </div>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Aceptar')">Aceptar</button>
          <button type="button" class="btn btn-outline-warning btn-sm" (click)="modal.dismiss('Cerrar')">Cerrar</button>
        </div>
    </ng-template>
