<div class="imagen">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="form-inline my-2 my-lg-0 col-md-6">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>

    <a class="navbar-brand mr-auto col-md-4" href="#">AMABISCA S.A.</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

    </div>
  </nav>
</div>
<div class="content">
  <h1>CATÁLOGO DE PRODUCTOS</h1>

  <!--Contenedor de todos los productos-->
  <div class="container-fluid col-md-10 offset-md-1">
    <!--Fila de productos-->
    <div class="row">
      <!--Columna de cada producto-->
      <div class="col col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://image.shutterstock.com/image-vector/vector-round-blank-frame-car-260nw-1400327858.jpg"
                class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-header">
                <h5>Producto</h5>
              </div>
              <div class="card-body">

                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur inventore
                  ipsum possimus delectus, veniam sequi vitae consectetur ad quibusdam accusantium incidunt, explicabo
                  ipsam excepturi esse vel? Deleniti ipsa nam animi!</p>

              </div>
              <div class="card-footer">
                  <a href="" class="text-center">Detalles <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                  <a href="" class="text-center ml-2"> Agregar al carro<i class="fa fa-cart-plus" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Fin de columna de producto-->

      <!--Columna de cada producto-->
      <div class="col col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://image.shutterstock.com/image-vector/vector-round-blank-frame-car-260nw-1400327858.jpg"
                class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-header">
                <h5>Producto</h5>
              </div>
              <div class="card-body">

                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur inventore
                  ipsum possimus delectus, veniam sequi vitae consectetur ad quibusdam accusantium incidunt, explicabo
                  ipsam excepturi esse vel? Deleniti ipsa nam animi!</p>

              </div>
              <div class="card-footer">
                <a href="" class="text-center">Detalles <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="" class="text-center ml-2"> Agregar al carro<i class="fa fa-cart-plus" aria-hidden="true"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!--Fin de columna de producto-->

      <!--Columna de cada producto-->
      <div class="col col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://image.shutterstock.com/image-vector/vector-round-blank-frame-car-260nw-1400327858.jpg"
                class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-header">
                <h5>Producto</h5>
              </div>
              <div class="card-body">

                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur inventore
                  ipsum possimus delectus, veniam sequi vitae consectetur ad quibusdam accusantium incidunt, explicabo
                  ipsam excepturi esse vel? Deleniti ipsa nam animi!</p>

              </div>
              <div class="card-footer">
                <a href="" class="text-center">Detalles <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="" class="text-center ml-2"> Agregar al carro<i class="fa fa-cart-plus" aria-hidden="true"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!--Fin de columna de producto-->

    </div>
    <!--Fin de fila de producto-->
  </div>
  <!--Fin de contenedor-->
</div>
