<div class="imagen">
  
</div>
<div class="content">
  <h1>CATÁLOGO DE PRODUCTOS</h1>

  <!--Contenedor de todos los productos-->
  <div class="container-fluid col-md-10 offset-md-1">
    <!--Fila de productos-->
    <div class="row">
      <!--Columna de cada producto-->
      <div class="col col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://image.shutterstock.com/image-vector/vector-round-blank-frame-car-260nw-1400327858.jpg"
                class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-header">
                <h5>Producto</h5>
              </div>
              <div class="card-body">

                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur inventore
                  ipsum possimus delectus, veniam sequi vitae consectetur ad quibusdam accusantium incidunt, explicabo
                  ipsam excepturi esse vel? Deleniti ipsa nam animi!</p>

              </div>
              <div class="card-footer">
                <a href="" class="text-center">Detalles <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="" class="text-center ml-2"> Agregar al carro<i class="fa fa-cart-plus" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Fin de columna de producto-->

      <!--Columna de cada producto-->
      <div class="col col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://image.shutterstock.com/image-vector/vector-round-blank-frame-car-260nw-1400327858.jpg"
                class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-header">
                <h5>Producto</h5>
              </div>
              <div class="card-body">

                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur inventore
                  ipsum possimus delectus, veniam sequi vitae consectetur ad quibusdam accusantium incidunt, explicabo
                  ipsam excepturi esse vel? Deleniti ipsa nam animi!</p>

              </div>
              <div class="card-footer">
                <a href="" class="text-center">Detalles <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="" class="text-center ml-2"> Agregar al carro<i class="fa fa-cart-plus" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Fin de columna de producto-->

      <!--Columna de cada producto-->
      <div class="col col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://image.shutterstock.com/image-vector/vector-round-blank-frame-car-260nw-1400327858.jpg"
                class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-header">
                <h5>Producto</h5>
              </div>
              <div class="card-body">

                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur inventore
                  ipsum possimus delectus, veniam sequi vitae consectetur ad quibusdam accusantium incidunt, explicabo
                  ipsam excepturi esse vel? Deleniti ipsa nam animi!</p>

              </div>
              <div class="card-footer">
                <a href="" class="text-center">Detalles <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="" class="text-center ml-2"> Agregar al carro<i class="fa fa-cart-plus" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Fin de columna de producto-->

    </div>
    <!--Fin de fila de producto-->
  </div>
  <!--Fin de contenedor-->
</div>
