<div class="container col-md-8 offset-md-2 mt-2">
    
    <div class="card">
        <div class="card-header">
                <h5 class="card-title">Pedidos</h5>
        </div>
        
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
        
</div>  